[Unit]
Description=AlanChande Iran FX hourly 09-21 Tehran

[Timer]
OnCalendar=*-*-* 09..21:00:00 Asia/Tehran
Persistent=false
Unit=channel-split-production@alanchande-iran-fx.service

[Install]
WantedBy=timers.target
