[Unit]
Description=AlanChande Turkey FX pulse daily

[Timer]
OnCalendar=*-*-* 16:20:00 Asia/Tehran
Persistent=false
Unit=channel-split-production@alanchande-fx-pulse.service

[Install]
WantedBy=timers.target
