[Unit]
Description=AlanChande Iran gold daily

[Timer]
OnCalendar=*-*-* 09:30:00 Asia/Tehran
Persistent=false
Unit=channel-split-production@alanchande-iran-gold.service

[Install]
WantedBy=timers.target
