[Unit]
Description=Kiani TRY to toman example daily

[Timer]
OnCalendar=*-*-* 11:15:00 Asia/Tehran
Persistent=false
Unit=channel-split-production@kiani-examples.service

[Install]
WantedBy=timers.target
