[Unit]
Description=Kiani combined rates hourly 09-21 Tehran

[Timer]
OnCalendar=*-*-* 09..21:40:00 Asia/Tehran
Persistent=false
Unit=channel-split-production@kiani-rates.service

[Install]
WantedBy=timers.target
