# Ghasedak SMS API
GHASEDAK_API_KEY=your_ghasedak_api_key_here
GHASEDAK_LINE_NUMBER=your_line_number_here
GHASEDAK_TEMPLATE_NAME=your_template_name_here

# Telegram Bot Tokens
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_ADMIN_BOT_TOKEN=your_admin_bot_token_here

# Database
DATABASE_URL=sqlite:///./users.db

# EHRAZ API
EHRAZ_TOKEN=your_ehraz_token_here

# Wallex API
WALLEX_API_KEY=your_wallex_api_key_here